html,

body {
	margin:0;
	padding:0;
	height:100%;
	overflow-x: hidden;
	max-width:100%;
	font-family: Helvetica, sans-serif;
}
#wrapper {
	min-height:100%;
	position:relative;
}
header {
	background: red;
	padding:10px;
	min-width:1300px;
	height:90px;
	border-bottom:2px solid white;
}

.logo{
	height: 100px;
	width: 100px;
	margin-top: 10px;
	margin-left: 30%; 
}

#header{
	position:absolute;
	float:left;
	text-align:center;
	height:40px;
	padding:0px;
	font-size:45px;
	width:100%;
	font-weight:bold;
	min-width:1300px;
	color:white;
}
#name{
	padding:0px;
	padding-top:20px;
	height:20px;
	float:left;
	width:200px;
	font-size:15px;
}
main{
	
	min-width:1300px;
	height:auto;
	min-height: 500px;
	padding-bottom:65px; /* Height of the footer element */
}
footer {
	padding:0px;
	padding-top:8px;
	background:#C41212;
	width:100%;
	height:20px;
	bottom:0;
	left:0;
	min-width:1300px;
	border-top:2px solid black
}
footer p{
	margin:0px;
	text-align: center;
}
footer a{
	color:white;
	text-decoration:none;
	padding-left:10px;
	margin-left:10px;
	border-left:2px solid black;
}
footer span{
	margin:0px auto;
}
nav{
	border-bottom:2px solid white;
	background:#C41212;
	padding:10px;
	min-width:1300px;
	height:40px;
}
nav p{
	width:100%;
	min-width:240px;
	margin:0px;
	float:left;
	text-align: center;
}
nav a{
	color:white;
	text-decoration:none;
	font-size:25px;
	font-weight:bold;
}
.knapp{
	width: 31%;
	height: 40px;
	padding:10px;
	min-width: 200px;
	margin-top: -10px;
	float:left;
	text-align: center;
}
nav .knapp:hover{
	background-color:#F71616;
}
header p{
	margin:0px;
	padding:5px;
	text-align:center;
	color:black;
	font-size:30px;
}

textarea {
   resize: none;
}

form{
	margin:0px auto;
	width:300px;
}

#login_bar{
	position:absolute;
	float:right;
	height:40px;
	padding:0px;
	font-size:20px;
	width:100%;
	font-weight:bold;
	min-width:1300px;
	color:white;
	background-color:#910606; 
}

#login_bar p{
	margin-top: 3px;
	float: right;
}

#login_bar a{
	margin-left: 20px;
	margin-right: 20px;	
	color: white;
}

.ticket{
	display: inline-block;
	border: 5px solid red;
	background-color: #DEE2E3;
	width: 30%;
	border-radius: 20px;
	margin-left: 5%;
	margin-bottom: 11%;
	text-align: center;
	font-family: Helvetica, sans-serif;
}

.product{
	display: inline-block;
	border: 5px solid red;
	background-color: grey;
	margin: 20px;
	padding: 10px;
	border-radius: 15px;
	width: 250px;
	height: 100%;
	min-height: 250px;
	text-align: center;
	margin-left: 5%;
}

.table_ticket{
	margin-left: 20%;
}

.short_desc{
	width: 	250px;
	height: 50px;
}

.desc{
	width: 	250px;
	height: 100px;	
}

.ticket_box{
	display: inline-block;
	border: 5px solid red;
	background-color: grey;
	margin: 20px;
	margin-left: 5%;
	padding: 10px;
	border-radius: 15px;
	width: 250px;
	height: 100%;
	min-height: 250px;
	text-align: center;
}

.text_area{
	background-color: white;
	margin:10px;
	padding: 1px;
	border-radius: 5px;
	min-height: 25px;
}

.ticket_amount{
	float: right;
	background-color: red;
	border-radius: 10px;
	margin: 20px;
	padding: 10px;
}

button{
	border-radius: 4px;
}

.login{
	border: 5px solid red;
	background-color: #DEE2E3;
	margin-left: 40.5%;
	margin-right: 40.5%;
	margin-top: 4%;
	padding: 2%;
	border-radius: 10%;
	width: 19%;
	text-align: center;
}

.login input{
	width: 90%;
	margin-right: 30%;
	margin-left: 30%;
	height: 70%;
	padding-bottom: 2%;	
}

.login_button{
	width: 60%;
	height: 100%;
	margin-right: 20%;
	margin-left: 20%;
	border-radius: 4px;
	background-color: red;
	color: white;
}

.create_button{
	width: 50%;
	margin-right: 25%;
	margin-left: 25%;
	background-color: red;
	color: white;	
}

.Contact{
	width: 33%;
	margin-left: 33%;
	margin-right: 33%;
	margin-top: 5%;
	padding: 2%;
	border: 3px solid blue;
}