html,

body {
	margin:0;
	padding:0;
	height:100%;
	overflow-x: hidden;
	max-width:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
header {
	background: #3460df;
	padding:10px;
	min-width:1300px;
	height:90px;
	border-bottom:2px solid white;
}

#header{
	position:absolute;
	float:left;
	text-align:center;
	height:40px;
	padding:0px;
	font-size:45px;
	width:100%;
	font-weight:bold;
	min-width:1300px;
	color:white;
}
#name{
	padding:0px;
	padding-top:20px;
	height:20px;
	float:left;
	width:200px;
	font-size:15px;
}
main {
	
	min-width:1300px;
	height:auto;
	padding-bottom:65px; /* Height of the footer element */
}
footer {
	padding:0px;
	padding-top:8px;
	background:#4973cb;
	width:100%;
	height:20px;
	position:absolute;
	bottom:0;
	left:0;
	min-width:1300px;
	border-top:2px solid black
}
footer p{
	margin:0px;
	text-align: center;
}
footer a{
	color:white;
	text-decoration:none;
	padding-left:10px;
	margin-left:10px;
	border-left:2px solid black;
}
footer span{
	margin:0px auto;
}
nav{
	border-bottom:2px solid white;
	background:#4973cb;
	padding:10px;
	min-width:1300px;
	height:40px;
}
nav p{
	width:100%;
	min-width:240px;
	margin:0px;
	float:left;
	text-align: center;
}
nav a{
	color:white;
	text-decoration:none;
	font-size:25px;
	font-weight:bold;
}
.knapp{
	width: 22%;
	height: 40px;
	padding:10px;
	min-width: 315px;
	margin-top: -10px;
	float:left;
	text-align: center;
}
nav .knapp:hover{
	background-color:#14E1F7;
}
header p{
	margin:0px;
	padding:5px;
	text-align:center;
	color:black;
	font-size:30px;
}

textarea {
   resize: none;
}

form{
	margin:0px auto;
	width:300px;
}

#login_bar{
	position:absolute;
	float:right;
	height:40px;
	padding:0px;
	font-size:20px;
	width:100%;
	font-weight:bold;
	min-width:1300px;
	color:white;
	background-color:#000066; 
}

#login_bar p{
	margin-top: 3px;
	float: right;
}

#login_bar a{
	margin-left: 20px;
	margin-right: 20px;	
	color: white;
}

.ticket{
	background-color:#14E1F7;
	width: 30%;
	border-radius: 20px;
	text-align: center;
	height: 500px;
	margin-top: 20px;
	margin-left: 34%
}

.table_ticket{
	margin-left: 25%;
}
