body {
	margin:0;
	padding:0;
	height:100%;
	overflow-x: hidden;
	max-width:100%;
	font-family: Helvetica, sans-serif;
}
#wrapper {
	min-height:100%;
	position:relative;
}
header {
	background: #3460df;
	padding:10px;
	min-width:1300px;
	height:90px;
	border-bottom:2px solid white;
}

.logo{
	height: 100px;
	width: 100px;
	margin-top: 10px;
	margin-left: 30%; 
}

#header{
	display: inline-block;
	position:absolute;
	text-align:center;
	height:40px;
	padding:0px;
	font-size:45px;
	width:100%;
	font-weight:bold;
	min-width:1300px;
	color:white;
}
#name{
	display: inline-block;
	padding:0px;
	padding-top:20px;
	height:20px;
	width:200px;
	font-size:15px;
}
main{
	min-width:1300px;
	height:auto;
	min-height: 500px;
	padding-bottom:65px; /* Height of the footer element */
}
footer {
	padding:0px;
	padding-top:8px;
	background:#4973cb;
	width:100%;
	height:20px;
	bottom:0;
	left:0;
	min-width:1300px;
	border-top:2px solid black;
}
footer p{
	margin:0px;
	text-align: center;
}
footer a{
	color:white;
	text-decoration:none;
	padding-left:10px;
	margin-left:10px;
	border-left:2px solid black;
}
footer span{
	margin:0px auto;
}
nav{
	border-bottom:2px solid white;
	background:#4973cb;
	padding:10px;
	min-width:1300px;
	height:40px;
}
nav p{
	width:100%;
	min-width:240px;
	margin:0px;
	float:left;
	text-align: center;
}
nav a{
	color:white;
	text-decoration:none;
	font-size:25px;
	font-weight:bold;
}
.knapp{
	width: 22%;
	height: 40px;
	padding:10px;
	min-width: 200px;
	margin-top: -10px;
	float:left;
	text-align: center;
}
nav .knapp:hover{
	background-color:#14E1F7;
}
header p{
	margin:0px;
	padding:5px;
	text-align:center;
	color:black;
	font-size:30px;
}

textarea {
   resize: none;
}

form{
	margin:0px auto;
	width:300px;
}

#login_bar{
	position:absolute;
	height:40px;
	padding:0px;
	font-size:20px;
	width:100%;
	font-weight:bold;
	min-width:1300px;
	color:white;
	background-color:#000066; 
}

#login_bar p{
	margin-top: 3px;
	float: right;
}

#login_bar a{
	margin-left: 20px;
	margin-right: 20px;	
	color: white;
}

.ticket{
	background-color:#14E1F7;
	width: 30%;
	border-radius: 20px;
	text-align: center;
	height: 600px;
	margin-top: 20px;
	margin-left: 34%;
	font-family: Helvetica, sans-serif;
	margin-bottom: 4%;
}

.table_ticket{
	margin-left: 20%;
}

.short_desc{
	width: 	250px;
	height: 50px;
}

.desc{
	width: 	250px;
	height: 100px;	
}

.ticket_holder{
	width: 100%;
	min-width: 1300px;
	height: 100%;
	min-height: 1000px;
	position: relative;
}

.ticket_box{
	display: inline-block;
	background-color: purple;
	margin: 20px;
	padding: 10px;
	border-radius: 15px;
	width: 250px;
	min-height: 250px;
	text-align: center;
	margin-top: 30px;

}

.Replie_box{
	display: inline-block;
	background-color: purple;
	margin: 20px;
	margin-top: 40px;
	padding: 10px;
	border-radius: 15px;
	width: 250px;
	height: 100%;
	min-height: 250px;
	text-align: center;
	margin-left: 20%;
}

.text_area{
	background-color: white;
	margin:10px;
	padding: 1px;
	border-radius: 5px;
	min-height: 25px;
}

button{
	border-radius: 4px;
}

.register{
	border: 5px solid blue;
	background-color: #DEE2E3;
	margin-left: 40.5%;
	margin-right: 40.5%;
	margin-top: 4%;
	padding: 2%;
	border-radius: 10%;
	width: 19%;
	text-align: center;
}

.register input{
	margin-right: 23%;
	margin-left: 23%;
	height: 80%;
	padding-bottom: 2%;
}

.button_login{
	width: 40%;
	margin-right: 30%;
	margin-left: 30%;
	background-color: blue;
	color: white;
}

.send{
	width: 80%;
	height: 100%;
	margin-right: 30%;
	margin-left: 30%;
	border-radius: 4px;
	background-color: blue;
	color: white;
}

.login{
	border: 5px solid blue;
	background-color: #DEE2E3;
	margin-left: 40.5%;
	margin-right: 40.5%;
	margin-top: 4%;
	padding: 2%;
	border-radius: 10%;
	width: 19%;
	text-align: center;
}

.login input{
	width: 90%;
	margin-right: 30%;
	margin-left: 30%;
	height: 70%;
	padding-bottom: 2%;	
}

.login_button{
	width: 60%;
	height: 100%;
	margin-right: 20%;
	margin-left: 20%;
	border-radius: 4px;
	background-color: blue;
	color: white;
}

.create_button{
	width: 50%;
	margin-right: 25%;
	margin-left: 25%;
	background-color: blue;
	color: white;	
}

.fadein { 
	position:relative; width:500px; height:332px; 
}
.fadein img { 
	position:absolute; left:0; top:0; 
}

.slide_img{
	height: 90%;
	width: 90%;
	min-height:540px; 
	min-width:960px;
	margin-left:40%;
	margin-right:40%;
}